.para-align{
    text-align: justify;
}
.btn-car-block {
    margin-bottom: 50px;
}
#header.page-banner {
    background-image: url(assets/images/_tariff-bg.jpg);
}
#tariffs h2-1 {
    margin-bottom: 30px !important;
    color: #000;
}
.tariffs-black{
    color: #000;
    text-align: center;
}
.margin-top{
    margin-top: 30px;
}
.cap-margin{
    padding-top: 17px;
}
.input-margin{
    margin-top: 15px;
}
.booking-cap{
    margin-top: -14px;
}
.t-opacity{
    opacity: 0.4;
    margin-top: 80px;
}
.h2-about{
    margin: 0px 0 20px;
}
.vision{
    text-align: center;
}
.para-about{
    text-align: center
}
.about{
    margin-top: 50px;
}
h4:hover{
    color: #FFC61A;
}
.vehicles{
    text-align: center;
    border: 1px solid #FFC61A;
    margin-bottom: 20px;
    background: #ffff;
}
.vehicles1{
    text-align: center;
    border: 1px solid #FFC61A;
    background: #ffff;
}
.offers{
    text-align: center;
    border: 1px solid #FFC61A;
    margin-bottom: 20px;
    background: #ffff;
    font-size: 14px;
}
.offers1{
    text-align: center;
    border: 1px solid #FFC61A;
    background: #ffff;
    font-size: 14px;
}
.offers-h5{
    margin: 25px 0 15px;
}
.text.p{
    font-size: 14px;
}
.price1{
    font-size: 25px;
    font-weight: 700;
}
#tariffs .slider-inner .swiper-pagination {
    margin-bottom: -15px;
}
#tariffs .arrows {
  text-align: center;
  margin-top: 40px;
}
#tariffs .arrow-left,
#tariffs .arrow-right {
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  transition: background .4s ease;
  background: #FFC61A;
  color: #fff;
  margin: 0 1px;
  padding: 7px 12px;
  font-size: 18px;
}
#tariffs .arrow-left.swiper-button-disabled,
#tariffs .arrow-right.swiper-button-disabled {
  background: #CCCCCC;
  cursor: default;
}
#tariffs .arrow-left:not(.swiper-button-disabled):hover,
#tariffs .arrow-right:not(.swiper-button-disabled):hover {
  background: #1F1F1F;
  color: #fff;
}
.widget .item:hover{
    -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.30);
}
@media (max-width: 767px) {

    .hidden-xs {
        display: none !important;
    }
    nav.navbar ul.navbar-nav a {
        font-size: 18pt;
        padding: 12px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}
